<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Navigation</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].navigate %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    <h2>Best Design Aspect</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].design %> :  <%= results[4][i].count %></li>
    <% } %>    
    </ul>
    <h2>Organization</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].organization %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    <h2>Improvements</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].improved %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>
    <h2>Likely to Return</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].likely %> :  <%= results[3][i].count %></li>
    <% } %>    
    </ul>
    
    <h2>Comments</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].comments %> :  <%= results[5][i].count %></li>
    <% } %>    
</ul>
</body>
</html>